#calendarContainer {
    margin: unset;
    padding: unset;
    max-width: unset;
    min-height: 460px;
    border-radius: 8px;
}

#mark {
    display: block;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0;
}

#mark:hover {
    color: #fff;
    border-color: #fff;
}

#mark:active {
    transform: scale(0.9);
}